<nav 
  class="container mx-auto relative pt-16 md:pt-0"
  x-data="{ 
    open: false,
    options: [
      {
        label: 'General Medicine'
      },
      {
        label: 'Emergency medicine'
      },
      {
        label: 'Psychiatry'
      },
      {
        label: 'General practice - emergency medicine'
      },
      {
        label: 'Obstetrics and Gynaecology'
      },
      {
        label: 'Intensive care medicine'
      },
      {
        label: 'Paediatrics'
      },
      {
        label: 'General practice - GP / family medicine'
      },
      {
        label: 'Surgery'
      },
      {
        label: 'Surgery - General'
      },
      {
        label: 'Anaesthetics'
      },
      {
        label: 'Surgery - Orthopaedic'
      },
      {
        label: 'General practice - obstetrics and gynaecology'
      },
      {
        label: 'Rehabilitation medicine'
      },
      {
        label: 'General practice - anaesthetics'
      },
      {
        label: 'Geriatric medicine'
      },
      {
        label: 'Medical oncology'
      },
      {
        label: 'Palliative medicine'
      },
      {
        label: 'General practice - correctional / judicial health'
      },
      {
        label: 'Surgery - Urology'
      },
      {
        label: 'Nephrology'
      },
      {
        label: 'Gastroenterology and hepatology'
      },
      {
        label: 'Cardiology'
      },
      {
        label: 'Neurology'
      },
      {
        label: 'General practice - rural and remote'
      },
      {
        label: 'Dermatology'
      },
      {
        label: 'Medical administration'
      },
      {
        label: 'General practice - indigenous health'
      },
      {
        label: 'Surgery - Vascular'
      },
      {
        label: 'Urgent care'
      },
      {
        label: 'Haematology'
      },
      {
        label: 'General practice - skin cancer medicine'
      },
      {
        label: 'Radiology'
      },
      {
        label: 'Surgery - ENT'
      },
      {
        label: 'Respiratory and sleep medicine'
      },
      {
        label: 'Surgery - Plastic'
      },
      {
        label: 'Endocrinology'
      },
      {
        label: 'Rural medicine'
      },
      {
        label: 'Infectious diseases'
      },
      {
        label: 'Surgery - Neurosurgery'
      },
      {
        label: 'Rheumatology'
      },
      {
        label: 'Ophthalmology'
      },
      {
        label: 'Radiation oncology'
      },
      {
        label: 'Surgery - Cardiothoracic'
      },
      {
        label: 'Pathology'
      },
      {
        label: 'General practice - occupational medicine'
      },
      {
        label: 'Nuclear medicine'
      },
      {
        label: 'Addiction medicine'
      },
      {
        label: 'Surgery - Paediatric'
      }
    ]
  }"
  @click.away="open = false"
>
  <ul class="flex items-center gap-6 overflow-auto">
    <li class="flex-none py-4">
      <a href="https://app.hopmedic.com#specialty=General%20Medicine" class="text-sm text-slate-500 hover:text-slate-700 font-medium">General Medicine</a>
    </li>
    <li class="flex-none py-4">
      <a href="https://app.hopmedic.com#specialty=Emergency%20medicine" class="text-sm text-slate-500 hover:text-slate-700 font-medium">Emergency medicine</a>
    </li>
    <li class="flex-none py-4">
      <a href="https://app.hopmedic.com#specialty=Psychiatry" class="text-sm text-slate-500 hover:text-slate-700 font-medium">Psychiatry</a>
    </li>
    <li class="flex-none py-4">
      <a href="https://app.hopmedic.com#specialty=Obstetrics%20and%20Gynaecology" class="text-sm text-slate-500 hover:text-slate-700 font-medium">Obstetrics and Gynaecology</a>
    </li>
    <li class="flex-none py-4">
      <a href="https://app.hopmedic.com#specialty=Paediatrics" class="text-sm text-slate-500 hover:text-slate-700 font-medium">Paediatrics</a>
    </li>
    <li class="flex-none py-4">
      <a href="https://app.hopmedic.com#specialty=Surgery" class="text-sm text-slate-500 hover:text-slate-700 font-medium">Surgery</a>
    </li>
    <li class="flex-none py-4">
      <div>
        <button class="text-sm text-slate-500 hover:text-slate-900 font-semibold" @click="open = !open">
          <i class="fa-solid fa-ellipsis-vertical mr-2"></i> More
          
        </button>

        <div x-cloak x-show="open" x-transition.origin.top class="absolute top-full left-0 w-full px-4 lg:px-0 mt-0 z-10 ">
          <div class="shadow-xl rounded-xl p-6 bg-slate-100">
            <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-8">
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20Medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General Medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Emergency%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Emergency medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Psychiatry" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Psychiatry</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20emergency%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - emergency medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Obstetrics%20and%20Gynaecology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Obstetrics and Gynaecology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Intensive%20care%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Intensive care medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Paediatrics" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Paediatrics</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20GP%20%2F%20family%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - GP / family medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20General" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - General</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Anaesthetics" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Anaesthetics</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20Orthopaedic" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - Orthopaedic</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20obstetrics%20and%20gynaecology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - obstetrics and gynaecology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Rehabilitation%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Rehabilitation medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20anaesthetics" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - anaesthetics</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Geriatric%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Geriatric medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Medical%20oncology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Medical oncology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Palliative%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Palliative medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20correctional%20%2F%20judicial%20health" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - correctional / judicial health</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20Urology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - Urology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Nephrology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Nephrology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Gastroenterology%20and%20hepatology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Gastroenterology and hepatology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Cardiology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Cardiology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Neurology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Neurology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20rural%20and%20remote" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - rural and remote</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Dermatology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Dermatology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Medical%20administration" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Medical administration</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20indigenous%20health" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - indigenous health</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20Vascular" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - Vascular</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Urgent%20care" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Urgent care</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Haematology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Haematology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20skin%20cancer%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - skin cancer medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Radiology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Radiology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20ENT" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - ENT</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Respiratory%20and%20sleep%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Respiratory and sleep medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20Plastic" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - Plastic</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Endocrinology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Endocrinology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Rural%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Rural medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Infectious%20diseases" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Infectious diseases</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20Neurosurgery" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - Neurosurgery</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Rheumatology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Rheumatology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Ophthalmology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Ophthalmology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Radiation%20oncology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Radiation oncology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20Cardiothoracic" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - Cardiothoracic</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Pathology" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Pathology</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=General%20practice%20-%20occupational%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">General practice - occupational medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Nuclear%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Nuclear medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Addiction%20medicine" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Addiction medicine</a>
              </li>
              <li class="overflow-hidden whitespace-nowrap overflow-ellipsis">
                <a href="https://app.hopmedic.com#specialty=Surgery%20-%20Paediatric" class="overflow-ellipsis overflow-hidden whitespace-nowrap text-slate-500 hover:text-slate-700 text-sm font-medium duration-200 transform hover:translate-x-1 block py-1">Surgery - Paediatric</a>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </li>
  </ul>
  
</nav>