---
title: About
layout: layouts/base.njk
---

<h1 class="fixed top-0 left-0 mt-5 ml-5 sm:mt-8 sm:ml-8 z-40 font-medium text-base leading-none text-black/70 dark:text-white/80 gsap-header">
  © Selected Works by Jin <span class="hidden md:inline">Su Park</span>
</h1>

<div class="fixed top-0 right-0 mt-5 mr-5 sm:mt-8 sm:mr-8 z-40 gsap-header">
  <ul class="flex items-center gap-5">
    <li class="flex items-center">
      <a href="/about" class="font-medium text-[15px] text-black/40 hover:text-black/80 dark:text-white/40 dark:hover:text-white/80 duration-200">About</a>
    </li>
    <li class="hidden lg:flex items-center">
      <a href="https://github.com/jinsupark" target="_blank" class="font-medium text-[15px] text-black/40 hover:text-black/80 dark:text-white/40 dark:hover:text-white/80 duration-200">Github</a>
    </li>
    <li class="hidden lg:flex items-center">
      <a href="https://read.cv/jinsupark" target="_blank" class="font-medium text-[15px] text-black/40 hover:text-black/80 dark:text-white/40 dark:hover:text-white/80 duration-200">CV</a>
    </li>
    
    {# <li class="flex lg:hidden items-center">
      <a href="#" class="flex items-center font-medium text-sm text-black/80 hover:text-black/80 duration-200">
        Published
        <svg class="fill-current w-3 h-3 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M320 240L160 384 0 240l0-48 320 0 0 48z"/></svg>
      </a>
    </li> #}
    <li class="flex items-center lg:ml-1">
      <button @click="toggleDarkMode()" class="w-4 h-4 rounded-full overflow-hidden border border-black dark:border-white">
        <div class="w-[8px] h-4 bg-black dark:bg-white"></div>
      </button>
    </li>
  </ul>
</div>

<main data-barba="container" data-barba-namespace="page">

  <div class="fixed z-[60] left-1/2 translate-x-[-50%] bottom-0 mb-4 md:mb-8 px-4 w-full md:w-auto flex items-center justify-center gsap-footer">
    <a href="/" class="relative flex items-center justify-center flex-none w-14 h-14 text-white">
      <div class="absolute top-0 left-0 flex-none w-14 h-14 rounded-full bg-[#535353] duration-200 hover:scale-110">

      </div>
      <svg class="relative z-10 pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>

    </a>
  </div>


  <section class="gsap-content">

    <div class="grid grid-cols-2 mt-[112px]">
      <div></div>
      <div class="max-w-[576px]">
        <p class="text-black/50 dark:text-white/50 text-xl font-medium leading-snug mb-6 last:mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ligula pharetra, viverra nisi eget, venenatis metus. Curabitur ante odio, pellentesque posuere ipsum volutpat, consectetur dignissim lacus. Vestibulum ut faucibus risus. Aliquam dignissim ligula eu ornare vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p class="text-black/50 dark:text-white/50 text-xl font-medium leading-snug mb-6 last:mb-0">
          Nulla lacinia, ex in hendrerit vehicula, elit est varius erat, vitae rutrum quam nulla eget nibh. Curabitur sollicitudin sodales leo id sollicitudin. Maecenas nec lorem at massa venenatis vestibulum. In hac habitasse platea dictumst. Proin non tortor non eros aliquam pretium quis eu metus.
        </p>
        <p class="text-black/50 dark:text-white/50 text-xl font-medium leading-snug mb-6 last:mb-0">
          I'm always curious to hear from new people about new thoughts, ideas, problems, projects or collaborations. If you have something on your mind, get in touch.
        </p>

        <ul class="flex items-center gap-5 mt-12">
          <li><a class="text-base text-black/40 dark:text-white/40 font-medium">Email →</a></li>
          <li><a class="text-base text-black/40 dark:text-white/40 font-medium">Email →</a></li>
          <li><a class="text-base text-black/40 dark:text-white/40 font-medium">Email →</a></li>
        </ul>

        <div class="grid grid-cols-2 mt-[72px]">
          <ul>
            <li class="text-base text-black/80 dark:text-white/80 font-medium mb-6">Disciplines</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Digital Strategy</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Digital Design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Web design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">UX/UI </li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Design Systems</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">App Design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Digital </li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Digital Strategy</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Digital Design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Web design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">UX/UI </li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Design Systems</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">App Design</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Digital </li>
          </ul>

          <ul>
            <li class="text-base text-black/80 dark:text-white/80 font-medium mb-6">Awards</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">Design Museum - Designs of the Year</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">D&AD Wood Pencil</li>
            <li class="text-base text-black/40 dark:text-white/40 font-medium">D&AD New Blood Yellow Pencil</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="px-5 sm:px-8 max-w-[768px] mt-[320px]">
      <h2 class="text-4xl mb-[56px]">Carl Beaverson is an award-winning Web Developer, currently living & working abroad. A partner at Groundcrew, his work is focused on creating bespoke, effective & engaging digital experiences.</h2>
    </div>

    <div class="px-5 sm:px-8 w-full max-w-[680px] mb-[72px]">
      <p class="text-black/50 dark:text-white/50 text-base font-medium leading-snug mb-6 last:mb-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ligula pharetra, viverra nisi eget, venenatis metus. Curabitur ante odio, pellentesque posuere ipsum volutpat, consectetur dignissim lacus. Vestibulum ut faucibus risus. Aliquam dignissim ligula eu ornare vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
      </p>
    </div>


    <div class="grid grid-cols-12 gap-5 sm:gap-8 px-5 sm:px-8 mt-[320px] mb-[320px] max-w-[1440px]">

      

      <div class="col-span-5 text-justify">
        
        <p class="text-black/50 dark:text-white/50 text-base font-medium leading-snug mb-6 last:mb-0">
          Nulla lacinia, ex in hendrerit vehicula, elit est varius erat, vitae rutrum quam nulla eget nibh. Curabitur sollicitudin sodales leo id sollicitudin. Maecenas nec lorem at massa venenatis vestibulum. In hac habitasse platea dictumst. Proin non tortor non eros aliquam pretium quis eu metus.
        </p>
      </div>
      <img src="https://cdn.dribbble.com/userupload/4590099/file/original-b6cbc2cd2e7c468cea649fcf099f83de.jpg?compress=1&resize=1504x846" class="col-span-7 mb-10">
      <div class="col-span-5">
        <div class="grid grid-cols-2">
          <ul>
            <li class="text-base text-black/80 dark:text-white/80 font-medium mb-6">Disciplines</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Digital Strategy</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Digital Design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Web design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">UX/UI </li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Design Systems</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">App Design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Digital </li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Digital Strategy</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Digital Design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Web design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">UX/UI </li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Design Systems</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">App Design</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Digital </li>
          </ul>

          <ul>
            <li class="text-base text-black/80 dark:text-white/80 font-medium mb-6">Awards</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">Design Museum - Designs of the Year</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">D&AD Wood Pencil</li>
            <li class="text-sm text-black/40 dark:text-white/40 font-medium">D&AD New Blood Yellow Pencil</li>
          </ul>
        </div>
      </div>
      <div class="col-span-5">
        <p class="text-black/50 dark:text-white/50 text-base font-medium leading-snug mb-6 last:mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ligula pharetra, viverra nisi eget, venenatis metus. Curabitur ante odio, pellentesque posuere ipsum volutpat, consectetur dignissim lacus. Vestibulum ut faucibus risus. Aliquam dignissim ligula eu ornare vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        </p>
        <p class="text-black/50 dark:text-white/50 text-base font-medium leading-snug mb-6 last:mb-0">
          Nulla lacinia, ex in hendrerit vehicula, elit est varius erat, vitae rutrum quam nulla eget nibh. Curabitur sollicitudin sodales leo id sollicitudin. Maecenas nec lorem at massa venenatis vestibulum. In hac habitasse platea dictumst. Proin non tortor non eros aliquam pretium quis eu metus.
        </p>

        <h3 class="text-base text-black/80 dark:text-white/80 font-medium mt-12 mb-6">Awards</h3>
        <p class="text-black/50 dark:text-white/50 text-base font-medium leading-snug mb-6 last:mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ligula pharetra, viverra nisi eget, venenatis metus. Curabitur ante odio, pellentesque posuere ipsum volutpat, consectetur dignissim lacus. Vestibulum ut faucibus risus. Aliquam dignissim ligula eu ornare vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        </p>
        <p class="text-black/50 dark:text-white/50 text-base font-medium leading-snug mb-6 last:mb-0">
          Nulla lacinia, ex in hendrerit vehicula, elit est varius erat, vitae rutrum quam nulla eget nibh. Curabitur sollicitudin sodales leo id sollicitudin. Maecenas nec lorem at massa venenatis vestibulum. In hac habitasse platea dictumst. Proin non tortor non eros aliquam pretium quis eu metus.
        </p>
      </div>
    </div>
    
  </section
  
</main>