@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../libraries/fontawesome/css/fontawesome.min.css';
/* @import '../libraries/fontawesome/css/light.min.css';
@import '../libraries/fontawesome/css/regular.min.css'; */
@import '../libraries/fontawesome/css/solid.min.css';

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal/PPNeueMontreal-Book.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('../fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
}

.markdown > p {
  @apply mb-5 last:mb-0
}