---
title: Sample
layout: layouts/base.njk
---
<header class="fixed top-0 flex items-center w-full px-6 py-6 z-20">
  <div class="flex-1">

  </div>

  <div class="font-medium text-sm text-[#444444]">
    © Design and Development by Jin Su Park
  </div>

  <div class="flex-1 flex justify-end">
    <ul class="flex items-center gap-4">
      <li class="flex items-center">
        <a href="#" class="font-medium text-xs text-black/40 hover:text-black/80">About</a>
      </li>
      <li class="flex items-center">
        <a href="#" class="font-medium text-xs text-black/40 hover:text-black/80">CV</a>
      </li>
      <li class="flex items-center">
        <a href="#" class="font-medium text-xs text-black/40 hover:text-black/80">Twitter</a>
      </li>
      <li class="flex items-center ml-2">
        <button class="flex items-center justify-center w-8 h-8 rounded-md duration-100 hover:bg-black/10">
          <div class="w-4 h-4 rounded-full overflow-hidden border border-black">
            <div class="w-[8px] h-4 bg-black"></div>
          </div>
        </button>
      </li>
    </ul>
  </div>
</header>

<main data-barba="container" data-barba-namespace="home">
  <section class="flex items-end h-[80vh]">
    

    <div class="flex items-end w-full px-8 xl:px-12 mb-10 xl:mb-12">
      <div class="flex-1">
        <ul class="flex items-center -space-x-2 mb-6">
          <li class="z-40">
            <a class="flex w-8 h-8 rounded-full border border-white shadow-md overflow-hidden transform duration-200 hover:scale-105">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" class="w-full">
            </a>
          </li>
          <li class="z-30">
            <a class="flex w-8 h-8 rounded-full border border-white shadow-md overflow-hidden transform duration-200 hover:scale-105">
              <img src="https://randomuser.me/api/portraits/men/86.jpg" class="w-full">
            </a>
          </li>
          <li class="z-20">
            <a class="flex w-8 h-8 rounded-full border border-white shadow-md overflow-hidden transform duration-200 hover:scale-105">
              <img src="https://randomuser.me/api/portraits/men/36.jpg" class="w-full">
            </a>
          </li>
          <li class="z-10">
            <a class="flex w-8 h-8 rounded-full border border-white shadow-md overflow-hidden transform duration-200 hover:scale-105">
              <img src="https://randomuser.me/api/portraits/men/84.jpg" class="w-full">
            </a>
          </li>
        </ul>
        <p class="text-sm xl:text-base text-[#070707] max-w-md xl:max-w-lg">Hey thgegegestack designer, coder, and product thinker with branding and graphic design roots. I've spent over fifteen years obsessing over products and ideas that are incredibly refined and well executed.</p>
      </div>
      <div class="">
        <ul class="flex items-center gap-4 xl:gap-7">
          <li class="flex items-center">
            <a href="#" class="font-medium text-xs xl:text-sm text-black/40 hover:text-black/80">Published Work</a>
          </li>
          <li class="flex items-center">
            <a href="#" class="font-medium text-xs xl:text-sm text-black/40 hover:text-black/80">Work in progress</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="w-full">
    <ul class="grid grid-cols-4 gap-1">
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      <li class="bg-[#F3F3F3] overflow-hidden">
        <a href="/works/sample" class="relative flex aspect-[4/3] group/thumbnail">
          <img class="absolute top-0 left-0" src="/assets/img/projects/sample/sample-thumb.png">
          <img class="absolute top-0 left-0 opacity-0 duration-[.6s] scale-125 group-hover/thumbnail:scale-100 group-hover/thumbnail:opacity-100 blur-md group-hover/thumbnail:blur-none" src="/assets/img/projects/sample/sample-thumb-hover.jpg">
          <div class="absolute bottom-0 left-0 text-sm text-white font-medium transform translate-y-8 group-hover/thumbnail:translate-y-0 opacity-0 group-hover/thumbnail:opacity-100 duration-[0.6s] p-6">
            KI Services Identity Design<br>
            <span class="opacity-40">Branding • 2017</span>
          </div>
        </a>
      </li>
      
    </ul>
  </section>
</main>